<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
</head>
<body>

<h2>Edit User</h2>

<form th:method="PATCH"
      th:action="@{/user/{id}/edit(id=${user.id})}"
      th:object="${user}">

  <!-- Только отображение ID -->
  <label for="id">User ID:</label>
  <input type="text" th:field="*{id}" id="id" readonly/>
  <br/>

  <label for="firstName">First Name:</label>
  <input type="text" th:field="*{firstName}" id="firstName"/>
  <br/>

  <label for="lastName">Last Name:</label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <br/>

  <label for="age">Age:</label>
  <input type="number" th:field="*{age}" id="age"/>
  <br/>

  <label for="email">Email:</label>
  <input type="email" th:field="*{email}" id="email"/>
  <br/>

  <label for="password">Password :</label>
  <input type="password" th:field="*{password}" id="password"/>
  <br/>

  <label for="roles">Roles:</label>
  <select id="roles" name="roles" required>
    <option value="ADMIN">ADMIN</option>
    <option value="USER">USER</option>
  </select>
  <br/>

  <button type="submit">Update</button>
</form>

</body>
</html>
